:root {
  --primary: #425F57;
  --secondary: #749F82;
  --highlight:#A8E890;
  --text-light:#e1f9d7;
  --text-dark:#425F57;
  --background:#fcfffb;
  --white:#ffffff;
  --pink:#fae4fa;
  --orange:#ffb90040;
  --green:#B9CFB2;
  --blue:#bdd0dc;
}

@font-face {
	font-family: "Mega Fresh";
	src: url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.eot");
	src: url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.woff2") format("woff2"), 
	url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.woff") format("woff"), 
	url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.ttf") format("truetype"), 
	url("../fonts/Mega_Fresh/52fc208a45b0ba23c86a7e911f266901.svg#Mega Fresh") format("svg"); 
}

body{
	margin:0;
	font-family: sans-serif;
	background-color:var(--background);
}

.wrapper{
	width: 100%;
    	padding: 20px;
    	box-sizing: border-box;

}
.content{
	max-width: 80%;
    	margin: 0 auto;
}

.title{
	color:var(--primary);
	font-size:2.5em;
	text-align:center;
}

header{
	background-color: var(--white);
	box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
	position: sticky;
	color:var(--text-dark);
    	top: 0;
	left:0;
	width:100%;
	padding-top: 10px;
}

header h1{
	font-family: Mega Fresh;
	font-size:4em;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

nav{
	padding: 5px 10px 15px 10px;
	font-family: arial narrow;
   	text-transform: uppercase;
	font-size:12px;
}
nav ul{
	padding:0;
	margin:0;
	text-align:center;
}

nav ul li{
	display:inline;
	font-size:1.3em;
}

nav a{
	text-decoration:none;
	color: var(--text-dark);
	padding:12px 15px;
}

nav a:hover{
	color: var(--secondary);
	border-bottom: 3px solid var(--highlight);
	font-weight:bold;
}

footer{
	background-color: var(--primary);
	color:var(--text-light);
    display: flex;
    padding: 30px 15px;
	justify-content: space-between;
	align-items: center;
}

footer a{
	margin: 0px 5px;
}
video{
	width:100%;
}

/* Index */

.content h3{
    font-size: 1.3em;
    font-weight: normal;
    color: #8f8f8f;
    font-style: italic;
    line-height: 1.5em;
    padding: 25px 120px;
}

@media only screen and (max-width: 800px) {
	.content h3{
		padding: 10px 0;
		font-size: 1em;
	}
}


.secondary-menu-title{
	text-align: center;
	color:var(--primary);
	border-bottom: 2px solid var(--highlight);
	
}
.secondary-menu-title h2{
	font-weight: normal;
	font-size: 16px;
	margin-top:45px;
	margin-bottom:15px;
	letter-spacing:7px;
	text-transform: uppercase;
}

.secondary-menu-title h1{
	font-weight: normal;
	font-size: 45px;
	margin-top:0;
}

.secondary-menu{
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 20px;
}

.menu-item{
	display:inline;
	width:23%;
	text-align:center;
	margin: 5px;
}

@media only screen and (max-width: 1200px) {
	.menu-item{
		width:48%;
	}
}

@media only screen and (max-width: 600px) {
	.menu-item{
		width:100%;
	}
}

.menu-item a {
	text-decoration:none;
	text-transform: uppercase;
	color: var(--primary);
	font-size: 24px;
	font-weight:bold;    
}

/* Contacto */
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}

.main-image{
	width:100%;
}

.contacto{
	margin:0 auto;
	width:50%;
}

@media only screen and (max-width: 1000px) {
	.contacto{
		width:100%;
	}
}

.contacto iframe{
	margin: 50px 0;
    width: 100%;
}

.form-row{
	display: flex;
}

.form-item {
	padding: 5px 5px;
}

.column-2{
	width:50%;
}

.column-1{
	width:100%;
}

label{
	font-size:0.9em;
	color:var(--primary)
}
	
input, select{
	width:100%;
	height:30px;
	display:block;
	box-sizing:border-box;
	border: 1px solid var(--secondary);
    border-radius: 5px; 
	color:var(--primary)
}

textarea{
	width:100%;
	height:100px;
	display:block;
	box-sizing:border-box;
	border: 1px solid var(--secondary);
    border-radius: 5px;
	color:var(--primary)
}

#RGPD{
	height:20px;
	width:20px;
	display:inline;
	color:var(--primary);
}

/* Lugares de interes */
.places-main-title{
	color:var(--primary);
	font-size:2.5em;
}
.places-row{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: var(--secondary) 1px solid;
}

.places-row:nth-child(odd){
	flex-direction:row;
}
.places-row:nth-child(even){
	flex-direction:row-reverse;
}

.places-row>div{
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}
@media only screen and (max-width: 1200px) {
	.places-row>div{
	width: 100%;
}
}

.place-item{
	width: 100%;
}

.place-title{
	margin: 0 10px 20px 0;
	color:var(--secondary);
	text-transform:uppercase;
}

.place-info{
	width:100%;
    margin-top: 10px;
}

.place-info th{
	width:33.33%;
	color: var(--highlight);
}

.place-info td{
	font-size:0.85em;
	text-center:
}

.download-map{
	margin-top: 20px;
}
.download-map a{
	text-decoration:none;
	color: var(--primary);
	font-size: 14px;
}
	
.floatButton{
	position:fixed;
	background-color:var(--secondary);
	bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 1px rgb(0 0 0 / 30%)
}

.floatButton img{
	margin: 12px 12px;
}

/* Alojamiento */

.table-container{
	overflow-x:auto /* muestra scroll en tabla*/
}
.info-alojamientos{
	border-collapse: collapse;
	width: 100%;
}

.info-alojamientos td, .info-alojamientos th{
	border: 1px solid var(--secondary);
	padding:10px;
	font-size: 0.8em;
}

.info-alojamientos th{
	background-color: var(--text-light);
	color:var(--primary);
	text-transform: uppercase;
}

/* Historia */
.content-history p{
	line-height: 2em;
}




