body{
	background-color:#D3ECF3;
	margin:0px;
}

.menu{
	background-color: #FFFFFF;
	position: relative;
	height: 60px;
	box-shadow: 0 10px 20px -5px rgba(0,0,0,.1);
}

.menu ul {
	list-style-type:none;
}
.menu ul li {
	display:inline;
}
